<% this.title = contest.title + ' - 比赛' %>
<style>
.ui.label.pointing.below.left::before { left: 12%; }
.ui.label.pointing.below.right::before { left: 88%; }
.ui.label.pointing.below.left { margin-bottom: 0; }
.ui.label.pointing.below.right { margin-bottom: 0; float: right; }
#back_to_contest { display: none;  }
</style>
<% include header %>
<div class="">
  <h1><%= contest.title %></h1>
  <div style="margin-bottom: 30px;"><%- contest.subtitle %></div>
  <% let unveiled = (isSupervisior || syzoj.utils.getCurrentDate() >= contest.start_time); %>
  <% const seeResult = (isSupervisior || contest.ended); %>
  <% const seeRanklist = seeResult || (contest.allowedSeeingResult() && contest.allowedSeeingOthers()); %>
  
  <!-- 控制比赛时间显示，需要yarn by guke 0319 -->
  
  <% if (contest.type === 'acm' || contest.type === 'ioi' || contest.type === 'noi'){
   let now = syzoj.utils.getCurrentDate();
   let start = syzoj.utils.formatDate(contest.start_time), end = syzoj.utils.formatDate(contest.end_time); %>
  <% if (contest.running && start.split(' ')[0] === end.split(' ')[0]) {
    start = start.split(' ')[1]; end = end.split(' ')[1];
  } %>
  
  <script>
    console.log("当前时间戳 <%= now %>");
    console.log("比赛开始时间戳 <%= contest.start_time %>");
    console.log("比赛开始时间 <%= start %>");
    var timestamp = Math.round(new Date().getTime()/1000);
    console.log(timestamp);
  </script>
  
  <div class="ui pointing below left label"><%= start %></div>
  <div class="ui pointing below right label"><%= end %></div>
  <% let timePercentage = Math.floor(Math.min(1, (syzoj.utils.getCurrentDate() - contest.start_time) / (contest.end_time - contest.start_time)) * 100); %>
  <div id="timer-progress" class="ui tiny indicating progress<% if (timePercentage == 100) { %> success<% } %>" data-percent="<%= timePercentage %>">
    <div class="bar" style="width: <%= timePercentage %>%;"></div>
  </div>
  
  <% } %>
  
  <% if(syzoj.utils.getCurrentDate() > contest.start_time){ %>
  
  <%}else{ %>
  
  <%} %>
  
  <% if(syzoj.utils.getCurrentDate() < contest.start_time){ %>
        <div class="ui icon message negative ">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header">
              等一等&nbsp;<span class="timeShow"></span>
            </div>
            <p>比赛还未开始，先去题库刷刷题吧</p>
          </div>
          
             <script>
                // 比赛开始前十分钟倒计时，开始时自动刷新
                    var timestamp = Math.round(new Date().getTime()/1000);
                    var start_time = <%= contest.start_time %>;
                    var intDiff = parseInt(start_time - timestamp - 1);//倒计时总秒数量
                function timer(intDiff){
                  window.setInterval(function(){
                  var day=0,
                    hour=0,
                    minute=0,
                    second=0;//时间默认值
                  if(intDiff > 0 && intDiff < 1800){
                    
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                  }else if(intDiff<=0){//当时间耗尽，刷新页面
                    window.location.reload();
                  }
                  if (minute <= 9) minute = '0' + minute;
                  if (second <= 9) second = '0' + second;
                  if(intDiff > 0 && intDiff < 1800){
                    $(".timeShow").html('距离开始还有<font>'+minute+'分'+second+'</font>秒');
                  }
                  
                  intDiff--;
                  }, 1000);
                } 
                $(function(){
                    if(intDiff >= 0){
                        timer(intDiff);
                    }
                  
                });
            </script>
          
        </div>
        <% if (isSupervisior) { %>
            <a class="ui small button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'edit']) %>">编辑比赛</a>
          <% } %>
    <% } %>
  
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="ui buttons">
        
              <% if(syzoj.utils.getCurrentDate() < contest.start_time){ %>
              <% }else{ %>
              
                    <% if(seeRanklist) { %>
                        <a class="ui small blue button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'ranklist']) %>">排行榜</a>
                      <% } %>
                      <% let submissionsUrl = seeResult ?
                        syzoj.utils.makeUrl(['submissions'], {contest: contest.id}) :
                        syzoj.utils.makeUrl(['contest', contest.id, 'submissions']); %>
                      <a class="ui small positive button" href="<%= submissionsUrl %>">提交记录</a>
                      <% if (isSupervisior) { %>
                        <a class="ui small button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'edit']) %>">编辑比赛</a>
                      <% } %>
              
              <% } %>
        
          
        </div>
      </div>
    </div>
  <% if (contest.information) { %>
    <div class="row">
      <div class="column">
        <h4 class="ui top attached block header">信息/公告/规则</h4>
        <div class="ui bottom attached segment font-content">
          <%- contest.information %>
        </div>
      </div>
    </div>
  <% } %>
  <% if (unveiled) { %>
    <div class="row">
      <div class="column">
         <table class="ui selectable celled table segment ">
            <thead>
              <tr>
                <th class="one wide" style="text-align: center">状态</th>
                <th>题目</th>
                <% if (hasStatistics) { %>
                  <% if(contest.type === 'noi'){ %>
                    <% if (isSupervisior) { %>
                        <th class="one wide center aligned">通过人数/参与人数</th>
                    <% } %>
                    <% } else if (contest.type === 'ioi'){ %>
                    <th class="one wide center aligned">通过人数/参与人数</th>
                  <% } else{ %>
                    <th class="one wide center aligned">统计</th>
                  <% } %>
                  
                <% } %>
              </tr>
            </thead>
            <tbody>
              <%
              let i = 0;
              for (let problem of problems) {
                i++;
              %>
              <tr>
                <td class="center aligned" style="white-space: nowrap; ">
                <% if (problem.judge_id) { %>
                  <a href="<%= syzoj.utils.makeUrl(['contest', 'submission', problem.judge_id]) %>">
                  <% if (typeof problem.status === 'string') { %>
                    <span class="status <%= problem.status.toLowerCase().split(' ').join('_') %>">
                      <b>
                      <i class="<%= icon[getStatusMeta(problem.status)] || 'remove' %> icon"></i>
                      <%= problem.feedback || problem.status %>
                      </b>
                    </span>
                  <% } else if (typeof problem.status === 'object') { %>
                    <% if (problem.status.accepted) { %>
                      <span class="score score_10">
                        <% if (problem.status.unacceptedCount === 0) { %>
                          +
                        <% } else { %>
                          +<%= problem.status.unacceptedCount %>
                        <% } %>
                      </span>
                    <% } else { %>
                      <span class="score score_0">
                        <% if (problem.status.unacceptedCount !== 0) { %>
                          -<%= problem.status.unacceptedCount %>
                        <% } %>
                      </span>
                    <% } %>
                  <% } %>
                <% } %>
                </td>
                <td><a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'problem', i]) %>"><%= syzoj.utils.removeTitleTag(problem.problem.title) %></a></td>
                <% if (hasStatistics) { %>
                    <% if(contest.type === 'noi') { %>
                    <% if (isSupervisior) { %>
                        <td class="center aligned" style="white-space: nowrap; ">
                          <%= problem.statistics.accepted %> / <%= problem.statistics.attempt %>
                          <% } %>
                        </td>
                    <% } else if(contest.type === 'ioi'){ %>
                    <td class="center aligned" style="white-space: nowrap; ">
                          <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: i, status: 'Accepted' }) %>"><%= problem.statistics.accepted %></a>
                          /
                            
                          <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: i }) %>"><%= problem.statistics.attempt %></a>
                    <% } else{ %>
                    
                        <td class="center aligned" style="white-space: nowrap; ">
                          <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: i, status: 'Accepted' }) %>"><%= problem.statistics.accepted %></a>
                          /
                            <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: i, min_score: 1 }) %>"><%= problem.statistics.partially %></a>
                            
                            <% // mode by kaygb 20210315 below %>
                            <% if (contest.type === 'noi' || contest.type === 'ioi' || contest.type === 'cur') { %>
                            /
                          <% } %>
                          <a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: i }) %>"><%= problem.statistics.attempt %></a>
                      </td>
                   <% }%>
                  
                <% } %>
              </tr>
            <% } %>
            </tbody>
        </table>
      </div>
    </div>
  <% } %>
  </div>
</div>

<script>
$(function () {
  setInterval(function () {
    $('#timer-progress').progress({
      value: Date.now() / 1000 - <%= contest.start_time %>,
      total: <%= contest.end_time - contest.start_time %>
    });
  }, 5000);
});
</script>
<% include footer %>
