<% this.title = '课程专题' %>

<% include header %>
<% if (contests.length) { %>
    <% if (user && user.is_admin) { %>
        <form class="ui mini form">
          <div class="inline fields" style="margin-bottom: 25px; white-space: nowrap; ">
            <a href="<%= syzoj.utils.makeUrl(['contest', 0, 'edit']) %>" class="ui mini labeled icon right floated button" style="margin-left: auto; ">
              <i class="ui icon write"></i>
              创建专题
            </a>
         </div> 
        </form>
    <% } %>
    
    <!-- 专题强制填写姓名和班级 guke 0324 -->
    <script>
    
    <% if (user && !user.is_admin && (!user.nickname || !user.nameplate)){ %>
        alert("请补全姓名和班级！");
        location.href = "<%= syzoj.utils.makeUrl(['user', user.id]) %>/edit";
    <% } %>
    
    </script>
    
    
    <div class="ui four column stackable grid cards">
    
        <% for (let contest of contests) { %>
            <div class="card">
                <a class="image" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>">
                    <img src="<%= contest.imgsrc %>">
                </a>
              <div class="content">
                <a class="header" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><%= contest.title %></a>
                <div class="meta">
                    <a><%- contest.subtitle %></a>
                </div>
            </div>
    
      </div>
        
        <% } %>
      
      
    
      
    </div>
 
<% }//end %> 

    
<% include footer %>
