<% include util %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=1200">
    <title><%= title %> - <%= syzoj.config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="<%- selfLib('tomorrow.css') %>" rel="stylesheet">
    <link href="<%- selfLib('math.css') %>" rel="stylesheet">
    <!-- <link href="<%- selfLib('style.css') %>?20181212" rel="stylesheet">-->
    <link href="<%- lib('morris.js/0.5.1/morris.css') %>" rel="stylesheet">
    <link href="//acm-m.eas1.cn/images/2021/03/10/image.png" rel="shortcut icon">
    <link href="<%- lib('fontawesome-cdn/css/all.min.css') %>", rel="stylesheet">

    
    <!-- mdui -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous" />
    <script
  src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
  integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
  crossorigin="anonymous"
></script>
    <script data-cfasync="false" src="<%- lib('jquery/3.3.1/jquery.min.js') %>"></script>

    

</head>
  <body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-theme-layout-auto mdui-loaded">
    <header class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
          <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
          <a href="/new" class="mdui-typo-headline"><%= syzoj.config.title %></a>
          <div class="mdui-toolbar-spacer"></div>
          <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-dialog="{target: '#dialog-docs-theme'}" mdui-tooltip="{content: '设置主题'}"><i class="mdui-icon material-icons">color_lens</i></span>
        </div>
    </header>
    <div class="mdui-drawer" id="main-drawer">
        <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
            <a href="/new" class="mdui-list-item mdui-ripple <% if (active === '') { %> mdui-list-item-active<% } %>">首页</a>
            <a href="/p_n" class="mdui-list-item mdui-ripple <% if (active === '') { %> mdui-list-item-active<% } %>">专题</a>
            <a href="/ct_n" class="mdui-list-item mdui-ripple <% if (active === '') { %> mdui-list-item-active<% } %><% if (active === '') { %> mdui-list-item-active<% } %>">比赛</a>
            <a href="/rk_n" class="mdui-list-item mdui-ripple <% if (active === '') { %> mdui-list-item-active<% } %>">排名</a>
            <a href="/jd_n" class="mdui-list-item mdui-ripple <% if (active === '') { %> mdui-list-item-active<% } %>">评测</a>
            <a href="/about" class="mdui-list-item mdui-ripple <% if (active === '') { %> mdui-list-item-active<% } %>">关于</a>

        </div>
    </div>
      
    
