<% include util %>
<!DOCTYPE html>
<html lang="zh-CN" style="position: fixed; width: 100%; overflow: hidden; ">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=1200">
    <title><%= title %> - <%= syzoj.config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="<%- lib('semantic-ui/2.4.1/semantic.min.css') %>" rel="stylesheet">
    <link href="<%- selfLib('tomorrow.css') %>" rel="stylesheet">
    <link href="<%- selfLib('math.css') %>" rel="stylesheet">
    <!-- <link href="<%- selfLib('style.css') %>?20181212" rel="stylesheet">-->
    <link href="<%- lib('morris.js/0.5.1/morris.css') %>" rel="stylesheet">
    <link href="//acm-m.eas1.cn/images/2021/03/10/image.png" rel="shortcut icon">
    <% if (useLocalLibs || !syzoj.config.google_fonts || !['like-google-fonts', 'like-local', 'built-in'].includes(syzoj.config.google_fonts.type)) { %>
      <link href="<%- syzoj.utils.makeUrl(['google-fonts', 'fira-mono.css']) %>" rel="stylesheet">
      <link href="<%- syzoj.utils.makeUrl(['google-fonts', 'lato.css']) %>" rel="stylesheet">
      <link href="<%- syzoj.utils.makeUrl(['google-fonts', 'open-sans.css']) %>" rel="stylesheet">
      <link href="<%- syzoj.utils.makeUrl(['google-fonts', 'exo-2.css']) %>" rel="stylesheet">
    <% } else if (syzoj.config.google_fonts.type === 'like-local') { %>
      <link href="<%- syzoj.config.google_fonts.url %>/google-fonts/fira-mono.css" rel="stylesheet">
      <link href="<%- syzoj.config.google_fonts.url %>/google-fonts/lato.css" rel="stylesheet">
      <link href="<%- syzoj.config.google_fonts.url %>/google-fonts/open-sans.css" rel="stylesheet">
      <link href="<%- syzoj.config.google_fonts.url %>/google-fonts/exo-2.css" rel="stylesheet">
    <% } else if (syzoj.config.google_fonts.type === 'like-google-fonts') { %>
      <link href="<%- syzoj.config.google_fonts.url %>/css?family=Fira+Mono" rel="stylesheet">
      <link href="<%- syzoj.config.google_fonts.url %>/css?family=Lato:400,700,400italic,700italic&subset=latin" rel="stylesheet">
      <link href="<%- syzoj.config.google_fonts.url %>/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
      <link href="<%- syzoj.config.google_fonts.url %>/css?family=Exo+2:600" rel="stylesheet">
    <% } else if (syzoj.config.google_fonts.type === 'built-in') { %>
      <link href="<%- this.builtInCdnUrl %>/google-fonts/fira-mono.css" rel="stylesheet">
      <link href="<%- this.builtInCdnUrl %>/google-fonts/lato.css" rel="stylesheet">
      <link href="<%- this.builtInCdnUrl %>/google-fonts/open-sans.css" rel="stylesheet">
      <link href="<%- this.builtInCdnUrl %>/google-fonts/exo-2.css" rel="stylesheet">
    <% } %>

    <script data-cfasync="false" src="<%- lib('jquery/3.3.1/jquery.min.js') %>"></script>
    <% if (syzoj.config.google_analytics && syzoj.config.google_analytics !== 'UA-XXXXXXXX-X') { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= syzoj.config.google_analytics %>', 'auto');
      ga('send', 'pageview');

    </script>
    <% } %>
    
    <style>
        .kaygb {
            font-weight: 900;
            font-family: "黑体";
            color: #898989;
            background: -webkit-linear-gradient(45deg, #39eef6, #f86527, #fcd72d, #5f2cf8, #bed5f5);
        -moz-linear-gradient(45 deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
        -ms-linear-gradient(45 deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
            color: transparent;
            /*设置字体颜色透明*/
            -webkit-background-clip: text;
            /*背景裁剪为文本形式*/
            animation: ran 20s linear infinite;
            /*动态20s展示*/
        }

        @keyframes ran {
            from {
                backgroud-position: 0 0;
            }
            to {
                background-position: 2000px 0;
            }
        }
    </style>
    
    

</head>
<body style="position: relative; margin-top: 49px; height: calc(100% - 49px); overflow-y: overlay; ">
    <div class="ui fixed borderless menu" style="position: fixed; height: 49px; ">
        <div class="ui container">
        <style>
            @media screen and (max-width:990px){
            .zsy-pc{
                display:none!important;
                
                }
            .zsy-mb{
                display: flex;
                }
            }
            @media screen and (min-width:991px){
            .zsy-pc{
                display:flex;
                
                }
            .zsy-mb{
                display: none!important;
                }
            }
        </style>
            <%
            if (syzoj.config.logo.url) {
              let width = syzoj.config.logo.width ? syzoj.config.logo.width + 'px' : 'auto';
              let height = syzoj.config.logo.height ? syzoj.config.logo.height + 'px' : 'auto';
            %>
            <a class="header item" href="/"><img src="<%= syzoj.config.logo.url %>" style="width: <%= width %>; height: <%= height %>; "></a>
            <% } else { %>
            <a class="header item" href="/"><span style="font-family: 'Exo 2'; font-size: 1.5em; font-weight: 600; "><%= syzoj.config.title %></span></a>
            <% } %>
            <a class="zsy-pc item<% if (active === '') { %> active<% } %>" href="/"><i class="home icon"></i> 首页</a>
            <a class="zsy-pc item<% if (active.startsWith('problem')) { %> active<% } %>" href="/problems"><i class="list icon"></i> 题库</a>
            <a class="zsy-pc item<% if (active.startsWith('course')) { %> active<% } %>" href="/courses"><i class="list alternate outline icon"></i> 专题</a>
            <a class="zsy-pc item<% if (active.startsWith('contest')) { %> active<% } %>" href="/contests"><i class="calendar icon"></i> 比赛</a>
            <a class="zsy-pc item<% if (active.startsWith('submission')) { %> active<% } %>" href="/submissions"><i class="tasks icon"></i> 评测</a>
            <a class="zsy-pc item<% if (active.startsWith('ranklist')) { %> active<% } %>" href="/ranklist"><i class="signal icon"></i> 排名</a>
            <a class="zsy-pc item<% if (active.startsWith('discussion') || active.startsWith('article')) { %> active<% } %>" href="/discussion/global"><i class="comments icon"></i> 公告</a>
            <a class="zsy-pc item<% if (active.startsWith('about')) { %> active<% } %>" href="/about"><i class="help circle icon"></i> 关于</a>
            
            
            <% if (typeof contest !== 'undefined' && contest && contest.id) { %>
              <a id="back_to_contest" class="zsy-pc item" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><i class="arrow left icon"></i> 返回比赛</a>
            <% } %>
            <div class="zsy-pc item" id="tp-weather-widget"></div>
            
            <script>
            
                // 天气
              (function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
              window.SeniverseWeatherWidget('show', {
                flavor: "slim",
                location: "WX4FBXXFKE4F",
                geolocation: true,
                language: "auto",
                unit: "c",
                theme: "auto",
                token: "c647fb34-a2bd-40e2-8b7d-ff06ad5f9094",
                hover: "enabled",
                container: "tp-weather-widget"
              })
            </script>
            <div class="right menu">
              <% if (user) { %>
              <a href="#" style="color: inherit; ">
              <div class="ui simple dropdown item">
                <i class="user icon"></i><span> 我的账户</span>
                
                <div class="menu">
                
                <% if (typeof contest !== 'undefined' && contest && contest.id) { %>
                  <a id="back_to_contest" class="item" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><i class="arrow left icon"></i> 返回比赛</a>
                <% } %>
                  <a class="item" href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><span class="nc_name" style="width: 100px;line-height:24px;display:block;overflow: hidden;text-overflow: ellipsis!important;white-space: nowrap;"> <%= user.username %><% if (user.nameplate) { %><%- user.nameplate %><% } %> </span></a>
                  <a class="item" href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><i class="user icon"></i>个人资料</a>
                  <a class="item" href="<%= syzoj.utils.makeUrl(['user', user.id, 'edit']) %>"><i class="edit icon"></i>修改资料</a>
                  
                  <!-- 
                  
                  <div class="item" >
                        <input type="checkbox" id="dark-mode" name="dark-mode" tabindex="0" class="hidden">
                        <label for="dark-mode">&nbsp;DarkMode</label>
                    </div>
                    -->
                    
                    <a class="settheme item" name="dark-official"><i class="moon icon"></i> DarkMode</a>
                    <a class="settheme item" name="light-official"><i class="sun icon"></i> LightMode</a>
        <script>
    $(".settheme").click(function(){
        localStorage.setItem("theme",$(this).attr('name'))
        settheme(localStorage.getItem("theme"))
    })
</script>
<script data-cfasync="false">
      //script for the theme shop
      function settheme(themeName){
        $('.hgnuojdarkmode').remove()
        if(themeName === "dark-official"){
          $('head').append('<link rel="stylesheet" class="hgnuojdarkmode" href="https://cdn.jsdelivr.net/gh/hgnu/hgnuoj@master/static/themes/Dark.min.css?v=20210314" type="text/css">');
        }
        $('head').append('<link href="<%- selfLib("style.css") %>?20181212" rel="stylesheet">')
      }
    
      if(localStorage.getItem("theme")===null){
        localStorage.setItem("theme","light-official")
      }
    
      settheme(localStorage.getItem("theme"))
    </script>  
                  


                  <% if (user.is_admin) { %>
                    <a class="item" href="<%= syzoj.utils.makeUrl(['admin', 'info']) %>"><i class="settings icon"></i>后台管理</a>
                    <div class="ui basic modal" id="modal-restart">
                      <div class="ui icon header">
                        <i class="redo icon"></i>
                        <p style="margin-top: 15px; ">重启服务</p>
                      </div>
                      <div class="content" style="text-align: center; ">
                        <p>确认重新启动 HGNU OJ Web 服务吗？</p>
                      </div>
                      <div class="actions">
                        <div class="ui red basic cancel inverted button">
                          <i class="remove icon"></i>
                          否
                        </div>
                        <a class="ui green ok inverted button" href-post="<%= syzoj.utils.makeUrl(['admin', 'restart'], { url: req.query['url'] || req.originalUrl }) %>">
                          <i class="checkmark icon"></i>
                          是
                        </a>
                      </div>
                    </div>
                    <a class="item" href="#" onclick="$('#modal-restart').modal('show')"><i class="redo icon"></i>重启服务</a>
                  <% } %>
                  <a class="item" href-post="<%= syzoj.utils.makeUrl(['logout'], { url: req.originalUrl }) %>"><i class="power icon"></i>注销</a>
                </div>
              </div>
              </a>
                <% } else { %>
                <div class="item">
                    <a class="ui button" style="margin-right: 0.5em; " href="<%= syzoj.utils.makeUrl(['login'], { url: req.query['url'] || req.originalUrl }) %>">
                        登录
                    </a>
                    <a class="ui primary button" href="<%= syzoj.utils.makeUrl(['sign_up'], { url: req.query['url'] || req.originalUrl }) %>">
                        注册
                    </a>
                </div>
                <% } %>
                <div class="zsy-mb ui simple dropdown item">
                  <i class="bars icon"></i>
                    <div class="menu">
                    
                    <a class="item<% if (active === '') { %> active<% } %>" href="/"><i class="home icon"></i> 首页</a>
                    <a class="item<% if (active.startsWith('problem')) { %> active<% } %>" href="/problems"><i class="list icon"></i> 题库</a>
                    <a class="item<% if (active.startsWith('course')) { %> active<% } %>" href="/courses"><i class="list alternate outline icon"></i> 专题</a>
                    <a class="item<% if (active.startsWith('contest')) { %> active<% } %>" href="/contests"><i class="calendar icon"></i> 比赛</a>
                    <a class="item<% if (active.startsWith('submission')) { %> active<% } %>" href="/submissions"><i class="tasks icon"></i> 评测</a>
                    <a class="item<% if (active.startsWith('ranklist')) { %> active<% } %>" href="/ranklist"><i class="signal icon"></i> 排名</a>
                    <a class="item<% if (active.startsWith('discussion') || active.startsWith('article')) { %> active<% } %>" href="/discussion/global"><i class="comments icon"></i> 公告</a>
                    <a class="item<% if (active.startsWith('about')) { %> active<% } %>" href="/about"><i class="help circle icon"></i> 关于</a>
    
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
    <script data-cfasync="false">
        //DarkMode 实时选中状态
        $("#dark-mode").change(function () {
            var b = $(this).is(":checked");
            // console.log("b " +b);
            if(b){
                setDark("true");
                localStorage.setItem("darkmode", "true");
            }else{
                setDark("false");
                localStorage.setItem("darkmode", "false");
            }
            
        });
        
        // 判断上次使用是否选择暗黑模式
        $(function () {
            if(localStorage.getItem("darkmode")===null){
                localStorage.setItem("darkmode","false");
              }
            if (localStorage.getItem("darkmode") === "true") {
                // console.log("lo dac true " + localStorage.getItem('darkmode'));
                $("#dark-mode").prop("checked", "checked");
                setDark("true");
                localStorage.setItem('darkmode', "true");
            }else{
                // console.log("lo dac false " + localStorage.getItem('darkmode'));
                setDark("false");
                $("#dark-mode").prop("checked", "");
                localStorage.setItem('darkmode', "false");
            }
        });
        
        // 调用此函数执行CSS更替
        function setDark(isdark){
            $('.hgnuoj-darkmode').remove()
            if(isdark === "true"){
                // console.log("isdark = 1");
              $('head').append('<link rel="stylesheet" class="hgnuoj-darkmode" href="https://cdn.jsdelivr.net/gh/hgnu/hgnuoj@master/static/themes/Dark.min.css?v=20210314" type="text/css">');
            }
            $('head').append('<link href="<%- selfLib("style.css") %>?20181212" rel="stylesheet">');
        }
    </script> 
    
    <div style="margin-top: 28px; ">
    <div class="ui main container">
