<% include util %>
<%
if (typeof contest === 'undefined') contest = null;
if (contest) {
  this.title = this.alpha(pid) + '. ' + syzoj.utils.removeTitleTag(problem.title) + ' - ' + contest.title + ' - 比赛';
} else {
  this.title = problem.title + ' - 题目';
}
%>
<% include header %>
<style>
#languages-menu::-webkit-scrollbar, #testcase-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#languages-menu .item::after, #testcase-menu .item::after {
    display: none;
}
.hgnuoj-lables .label{
    margin-bottom:10px;
}
</style>
    <script src="<%- lib('clipboard.js/dist/clipboard.min.js') %>"></script>
<script src="<%- lib('layer/dist/layer.js') %>"></script>
<% include monaco-editor %>

<div class="ui aligned grid">
    <div class="row">
        <div class="column">
          <h1 class="ui header">
            <% if (contest) { %>
              <%= this.alpha(pid) %>. <%= syzoj.utils.removeTitleTag(problem.title) %>
            <% } else { %>
              #<%= problem.id %>. <%= problem.title %><% if (problem.allowedEdit && !problem.is_public) { %><span class="ui tiny red label">未公开</span><% } %>
            <% } %>
          </h1>
        </div>
    </div>
    <% if (problem.type !== 'submit-answer') { %>
      <div class="row" style="margin-top: -15px">
      <div class="column hgnuoj-lables">
          <span class="ui pink label"><i class="fal fa-microchip"></i>&nbsp;<%= problem.memory_limit %> MiB</span>
          <span class="ui teal label"><i class="fal fa-clock"></i>&nbsp;<%= problem.time_limit %> ms</span>
          <% if (problem.type === 'interaction') { %>
            <span class="ui violet  label"><i class="fal fa-book"></i>&nbsp;交互</span>
          <% } else if (problem.file_io) { %>
            <span class="ui green label">输入文件：<a href="javascript:;" title="点击复制" data-click-copy="<%= problem.file_io_input_name %>"><%= problem.file_io_input_name %></a></span>
            <span class="ui green label">输出文件：<a href="javascript:;" title="点击复制" data-click-copy="<%= problem.file_io_output_name %>"><%= problem.file_io_output_name %></a></span>
          <% } else { %>
            <span class="ui purple  label"><i class="fal fa-bolt"></i>&nbsp;标准输入输出</span>
          <% } %>
      
    <% } %>
    <% if (problem.type !== 'interaction') { %>
      
          <span class="ui blue label"><i class="fal fa-book"></i>&nbsp;<%= { 'submit-answer': '答案提交', 'interaction': '交互', 'traditional': '传统' }[problem.type] %></span>
          <span class="ui black  label"><i class="fal fa-balance-scale"></i>&nbsp;<%= (testcases && !testcases.error) ? (testcases.spj ? 'Special Judge' : '文本比较') : '无测试数据' %></span>
      
    <% } %>
    <% if (!contest) { %>
        
            <span class="ui label">上传者：
            <% if (problem.is_anonymous && !problem.allowedManage) { %>
              匿名
            <% } else { %>
              <a href="<%= syzoj.utils.makeUrl(['user', problem.user_id]) %>"><%= problem.user.username %></a>
            <% } %>
            </span>
            <% if (problem.allowedManage) { %>
                <span class="ui label">公开者：
                <% if (problem.publicizer) { %>
                  <a href="<%= syzoj.utils.makeUrl(['user', problem.publicizer_id]) %>"><%= problem.publicizer.username %></a>
                <% } else { %>
                  未知
                <% } %>
                </span>
            <% } %>
        
    <% } %>
    
        <% if (problem.tags && problem.tags.length && (typeof contest === 'undefined' || !contest)) { %>
            |
        <% let has_hidden_tags = false; %>
          <% for (let tag of problem.tags) { %>
            <%
              let is_hidden = syzoj.config.hidden_problem_tag_colors.includes(tag.color);
              if (is_hidden) has_hidden_tags = true;
            %>
            <a href="<%= syzoj.utils.makeUrl(['problems', 'tag', tag.id]) %>" class="ui medium <%= tag.color %> label<% if (is_hidden) { %> tag_hidden<% } %>">
              <%= tag.name %>
            </a>
          <% } %>
    <% } %>
    </div>
    </div>
    

    
</div>
<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui buttons">
        <% if (typeof contest !== 'undefined' && contest) { %>
          <% if (contest.ended) { %>
            
            <a class="small ui primary button" href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>">转到题库</a>
          <% } %>
          <a class="small ui primary button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: pid }) %>">提交记录</a>
          <% if (problem.additional_file) { %>
            <a class="small ui teal button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, pid, 'download', 'additional_file']) %>">附加文件</a>
          <% } %>
          
          
          <% if (contest.type === 'cur'){ %>
                <a href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>" class="ui pink button">返回专题</a>
                <% }else{ %>
                <a href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>" class="ui pink button">返回比赛</a>
            <% } %>
          
        <% } else { %>
          <a class="small ui primary button" href="<%= syzoj.utils.makeUrl(['submissions'], { problem_id: problem.id }) %>">提交记录</a>
          <a class="small ui orange button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'statistics', problem.type === 'submit-answer' ? 'shortest' : 'fastest']) %>">统计</a>
          <a class="small ui yellow button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'testdata']) %>">测试数据</a>
          <% if (problem.additional_file) { %>
            <a class="small ui teal button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'download', 'additional_file']) %>">附加文件</a>
          <% } %>
        <% } %>
      </div>
      <% if (!contest) { %>
        <div class="ui buttons right floated">
          <% if (problem.allowedEdit) { %>
            <a class="small ui button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'edit']) %>">编辑</a>
            <a class="small ui button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'manage']) %>">管理</a>
          <% } %>
          <% if (problem.allowedManage) { %>
            <% if (problem.is_public) {  %>
              <a class="small ui button" id="dis_public" href-post="<%= syzoj.utils.makeUrl(['problem', problem.id, 'dis_public']) %>">取消公开</a>
            <% } else { %>
              <a class="small ui button" id="public" href-post="<%= syzoj.utils.makeUrl(['problem', problem.id, 'public']) %>">公开</a>
            <% } %>
            <div class="ui basic modal" id="modal-delete">
              <div class="ui icon header">
                <i class="trash icon"></i>
                <p style="margin-top: 15px; ">删除题目</p>
              </div>
              <div class="content" style="text-align: center; ">
                <p>确认删除此题目吗？提交记录、题目公告以及测试数据将一并删除。<br>
                删除题目导致的修改用户提交、通过数量可能会耗费一些时间。</p>
                <b>警告：删除比赛中的题目会导致系统错乱！请确认没有比赛使用此题目。</b>
              </div>
              <div class="actions">
                <div class="ui red basic cancel inverted button">
                  <i class="remove icon"></i>
                  否
                </div>
                <a class="ui green ok inverted button" href-post="<%= syzoj.utils.makeUrl(['problem', problem.id, 'delete']) %>">
                  <i class="checkmark icon"></i>
                  是
                </a>
              </div>
            </div>
            <div class="small ui red button" onclick="$('#modal-delete').modal('show')">删除</div>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
  </div>
  <div class="ui section divider"></div>
<div class="ui items">
  
  <% if (problem.description) { %>
  <div class="item" style="margin-bottom:24px">
    <div class="content">
      <div class="ui large header" style="margin-bottom:12px">题目描述</div>
      <div class="description"><%- problem.description %></div>
    </div></div>

  <% } %>
  <% if (problem.input_format) { %>
  <div class="item" style="margin-bottom:24px">
  <div class="content">
        <div class="ui large header" style="margin-bottom:12px">输入格式</div>
        <div class="description"><%- problem.input_format %></div>
    </div></div>

  <% } %>
  <% if (problem.output_format) { %>
  <div class="item" style="margin-bottom:24px">
    <div class="content">
      <div class="ui large header" style="margin-bottom:12px">输出格式</div>
          <div class="description"><%- problem.output_format %></div>
        </div>
    </div>
  <% } %>
  <% if (problem.example) { %>
  <div class="item" style="margin-bottom:24px">
    <div class="content">
      <div class="ui large header" style="margin-bottom:12px">样例</div>
          <div id="example_content" class="description"><%- problem.example %></div>
        </div>
    </div>

    <script type="text/javascript">
      $('#example_content div.ui.existing.segment pre').each(function(i, pre) {
        var $pre = $(pre);
        var $segment = $pre.parent();
        var $p = $segment.prev('p');
        var $btn = $('<span class="ui mini compact button">');
        $btn.text('复制').attr('id', 'copybtn-'+i);
        //$btncopyi = 
        $btn.attr('data-clipboard-text', $pre.text());
        $pre.attr('id','copypre-' + i);
        
        var clipboard = new ClipboardJS('#copybtn-'+i);

        clipboard.on('success', function(e) {
            layer.msg('复制成功');
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);
        
            e.clearSelection();
        });
        
        clipboard.on('error', function(e) {
            layer.msg('复制失败');
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });
        if ($p.length) {
          $p.append($btn.css('marginLeft', '1em'));
        } else {
          $btn.css({
            position: 'absolute',
            right: '0',
            top: '0',
            marginRight: '0',
            borderTopLeftRadius: '0',
            borderBottomRightRadius: '0'
          }).insertBefore($pre);
        }
      });
      
    </script>
  <% } %>
  <% if (problem.limit_and_hint) { %>
    <div class="item" style="margin-bottom:24px">
    <div class="content">
      <div class="ui large header" style="margin-bottom:12px">数据范围与提示</div>
          <div class="description"><%- problem.limit_and_hint %></div>
        </div>
    </div>
  <% } %>
  
  
  </div>
  
  
  <div class="ui grid">
  
    <% let noSubmit = false; %>
    <%
    if (typeof contest !== 'undefined' && contest && contest.ended || (!testcases || testcases.error)) {
      noSubmit = true;
    }
    %>
    <% if (!noSubmit) { %>
    <div class="row">
        <div class="column">
          <%
          const formUrl = syzoj.utils.makeUrl(['problem', problem.id, 'submit'], { contest_id: contest ? contest.id : undefined });
          %>
          <form action="<%= formUrl %>" method="post" onsubmit="return submit_code()" id="submit_code" enctype="multipart/form-data">
            <% if (problem.type === 'submit-answer') { %>
              <%
              let cases = [];
              if (testcases && !testcases.error) {
                for (let subtasks of testcases) {
                  for (let testcase of subtasks.cases) {
                    cases.push(testcase.answer);
                  }
                }
              }
              %>
              <script>
              var cases = <%- serializejs(cases) %>, currCase = 0;
              </script>
              <div class="ui grid">
                <% if (testcases) { %>
                <div class="four wide column" style="margin-right: -25px; ">
                  <div class="ui attached vertical fluid pointing menu" id="testcase-menu" style="height: 370px; overflow-y: scroll; overflow-x: hidden; ">
                    <% for (let i = 0; i < cases.length; i++) { %>
                      <a style="border-radius: 0; " class="item<%= i === 0 ? ' active' : '' %>" data-value="<%= i %>">
                        <%= cases[i] %>
                      </a>
                    <% } %>
                  </div>
                </div>
                <div class="twelve wide stretched column" style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                  <% for (let i = 0; i < cases.length; i++) { %>
                    <div id="editor-<%= i %>" class="editor" style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; <%= i === 0 ? '' : 'visibility: hidden; ' %>" contenteditable>
                      <%- this.showLoadingEditor(); %>
                    </div>
                  <% } %>
                </div>
                <% } %>
                <input id="answer_by_editor" name="answer_by_editor" type="hidden">
                <script>
                window.onEditorLoaded(function () {
                  window.editors = [];
                  for (var i = 0; i < cases.length; i++) {
                    var editor = window.createCodeEditor(document.getElementById("editor-" + i));
                    editors[i] = editor;
                  }

                  $(function () {
                    $('#testcase-menu .item').click(function() {
                      $(this)
                        .addClass('active')
                        .closest('.ui.menu')
                        .find('.item')
                          .not($(this))
                          .removeClass('active')
                      ;

                      var x = $(this).attr('data-value');
                      if (currCase != x) {
                        $('#editor-' + currCase).css('visibility', 'hidden');
                        $('#editor-' + x).css('visibility', 'visible');
                        currCase = x;
                      }
                    });
                  });
                });
                </script>
                <div class="ui form" style="width: 100%; ">
                  <div class="inline fields" style="width: 100%; display:none">
                    <div class="field" style="margin: 0 auto; ">
                      <label for="answer">或者，上传答案（请使用 ZIP 格式压缩）</label>
                      <input type="file" id="answer" name="answer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui center aligned vertical segment" style="padding-bottom: 0; "><button type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button></div>
            <% } else { %>
              <input name="language" type="hidden" id="form">
              <input name="code" type="hidden">
              <div class="ui grid">
                <div class="four wide column" style="margin-right: -25px; ">
                  <div class="ui attached vertical fluid pointing menu" id="languages-menu" style="height: 370px; overflow-y: scroll; overflow-x: hidden; ">
                    <%
                    let language = syzoj.config.enabled_languages[0];
                    if (state) {
                      language = state.language;
                    } else if (lastLanguage) language = lastLanguage;
                    %>
                    <% for (lang of syzoj.config.enabled_languages) { %>
                      <a style="border-radius: 0; " class="item<%= lang === language ? ' active' : '' %>" data-value="<%= lang %>" data-mode="<%= syzoj.languages[lang].editor %>">
                        <%= syzoj.languages[lang].show %>
                        <div class="ui right floated" style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; "><%= syzoj.languages[lang].version %></div>
                      </a>
                    <% } %>
                  </div>
                </div>
                <div class="twelve wide stretched column" style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                  <div id="editor" style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; " class="editor" contenteditable>
                    <%- this.showLoadingEditor(); %>
                  </div>
                </div>
                <div class="ui form" style="width: 100%; ">
                  <div class="inline fields" style="width: 100%; display:none ">
                    <div class="field" style="margin: 0 auto; ">
                      <label for="answer">或者，上传代码文件</label>
                      <input type="file" id="answer" name="answer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui center aligned vertical segment" style="padding-bottom: 0; ">
                <button type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button>
              </div>
            <% } %>
          </form>
        </div>
    </div>
    <% } %>
</div>



<% if (problem.type !== 'submit-answer') { %>
<script type="text/javascript">
  var editor;
  window.onEditorLoaded(function () {
    var editorElement = document.getElementById('editor');
    var content = '';
    <% if (state) { %>content = <%- serializejs(state.code) %>;<% } %>
    editor = window.createCodeEditor(editorElement, $('#languages-menu .item.active').data('mode'), content);
    window.editor = editor;
  });

  var lastSubmitted = '';

  function submit_code() {
    if (!$('#submit_code input[name=answer]').val().trim() && !editor.getValue().trim()) return false;
    $('#submit_code input[name=language]').val($('#languages-menu .item.active').data('value'));
    lastSubmitted = editor.getValue();
    $('#submit_code input[name=code]').val(editor.getValue());
    return true;
  }

  $('#languages-menu')[0].scrollTop = $('#languages-menu .active')[0].offsetTop - $('#languages-menu')[0].firstElementChild.offsetTop;

  $(function () {
    $('#languages-menu .item').click(function() {
      $(this)
        .addClass('active')
        .closest('.ui.menu')
        .find('.item')
          .not($(this))
          .removeClass('active')
      ;
      monaco.editor.setModelLanguage(editor.getModel(), $(this).data('mode'));
    });
  });
</script>

<% } else { %>
  <script>
  function submit_code() {
    var a = [];
    for (var i = 0; i < cases.length; i++) {
      a.push({
        filename: cases[i],
        data: editors[i].getValue()
      });
    }
    $('#answer_by_editor').val(JSON.stringify(a));
  }
  </script>
<% } %>
<% include footer %>
