<% this.title = '题库' %>
<% include header %>
<%
let tagIDs = [];
if (typeof tags !== 'undefined') tagIDs = tags.map(x => x.id);
%>
<div class="ui three column stackable grid" style="margin-bottom: 10px; ">
  <div class="six center aligned wide column">
    <% if (typeof tags !== 'undefined') { %>
      <%
      tags.sort((a, b) => {
        return a.color > b.color ? 1 : -1;
      });
      %>
      <% for (let tag of tags) { %>
          <% let tagListRemovedThisTag = tagIDs.filter(x => x != tag.id).sort().join(','); %>
          <% let url = tagListRemovedThisTag ? syzoj.utils.makeUrl(['problems', 'tag', tagListRemovedThisTag]) : syzoj.utils.makeUrl(['problems']); %>
          <a href="<%= url %>" class="ui tiny <%= tag.color %> label">
            <%= tag.name %>
          </a>
      <% } %>
    <% } else { %>
      <form action="<%= syzoj.utils.makeUrl(['problems', 'search']) %>" method="get">
        <div class="ui search" style="width: 280px; height: 28px; margin: -5.3px auto 0; ">
          <div class="ui center icon input" style="width: 100%; ">
            <input class="prompt" style="width: 100%; " type="text" value="<%= req.query.keyword %>" placeholder="ID / 题目名 …" name="keyword">
            <i class="search icon"></i>
          </div>
          <div class="results" style="width: 100%; "></div>
        </div>
      </form>
    <% } %>
  </div>
  
  <div class="four wide center aligned column">
    <!-- <div class="ui toggle checkbox checked" id="show_tag">
    <style>
            .show_tag_controled {
              white-space: nowrap; overflow: hidden;
            }
          </style>
      <style id="show_tag_style"></style>
      <script data-cfasync="false">
      if (localStorage.getItem('show_tag') === '1') {
        document.write('<input type="checkbox" checked>');
        document.getElementById('show_tag_style').innerHTML = '';
      } else {
        document.write('<input type="checkbox">');
        document.getElementById('show_tag_style').innerHTML = '.show_tag_controled .tag_hidden { display: none; }';
      }
      </script>

      <script>
      $(function () {
      
        $('#show_tag').checkbox('setting', 'onChange', function () {
          let checked = $('#show_tag').checkbox('is checked');
          localStorage.setItem('show_tag', checked ? '1' : '0');
          if (checked) {
            document.getElementById('show_tag_style').innerHTML = '';
          } else {
            document.getElementById('show_tag_style').innerHTML = '.show_tag_controled .tag_hidden { display: none; }';
          }
        });
      });
      </script>
        <label>显示隐藏标签</label> 
    </div>
    -->
    </div>
    
        <div class="six wide center aligned column">
        <div style="margin-left: 10px; display: inline-block; ">
      <% if (allowedManageTag) { %>
        <% if (typeof tags !== 'undefined' && tags.length === 1 && tags[0].length === 1) { %>
              <a style="margin-left: 10px; " href="<%= syzoj.utils.makeUrl(['problems', 'tag', tags[0][0].id, 'edit']) %>" class="ui labeled icon mini blue button"><i class="write icon"></i> 编辑标签</a>
            <% } %>
        <a style="margin-left: 10px; " href="<%= syzoj.utils.makeUrl(['problems', 'tag', 0, 'edit']) %>" target="_blank" class="ui labeled icon mini green button"><i class="plus icon"></i> 添加标签</a>
      <% } %>
      
      <% if (typeof showTagFilter === 'undefined') showTagFilter = false; %>
          <% if (showTagFilter) { %>
            <div id="tag_search_dropdown" class="ui labeled icon mini teal dropdown button" style="margin-left: 10px;">
              <i class="tag icon"></i>
              <span class="text">标签筛选</span>
              <div class="menu" style="width: 20em;">
                <div class="ui icon search input">
                  <i class="search icon"></i>
                  <input type="text" placeholder="搜索标签" style="font-size: .9rem;">
                </div>
                <div class="scrolling menu" title="点击：切换是否选中这个标签，Shift + 点击：只选中这个标签 / 取消选中这个标签">
                  <div class="item">Loading...</div>
                </div>
              </div>
            </div>
          <% } %>
      
      <div style="margin-left: 10px; " class="ui mini buttons">
        <div class="ui labeled icon mini dropdown button" id="add_problem_dropdown"><i class="plus icon"></i> 添加题目
        <div class="menu">
          <a class="item" href="<%= syzoj.utils.makeUrl(['problem', 0, 'edit']) %>" target="_blank"><i class="file icon"></i> 新建题目</a>
          <a class="item" href="<%= syzoj.utils.makeUrl(['problem', 0, 'import']) %>" target="_blank"><i class="cloud download icon"></i> 导入题目</a>
        </div>
       </div>
        </div>
        </div>
    </div>

</div>
    



  <% if (problems.length) { %>
  <div style="margin-bottom: 30px; ">
    <% include page %>
  </div>
  <div style="overflow-x:auto;overflow-y: hidden;">
    <table class="ui unstackable very basic center aligned table">
  <!-- ui very basic center aligned table segment   -->
    <thead>
      <tr>
        <% if (user) { %>
        <th class="one wide">AC?</th>
        <% } %>
        <th class="one wide"><%- createSortableTitle('id', '#', true) %></th>
        <th class="left aligned"><%- createSortableTitle('title', '题目名称', true) %></th>
        <th class="one wide"><%- createSortableTitle('ac_num', '通过', false) %></th>
        <th class="one wide"><%- createSortableTitle('submit_num', '提交', false) %></th>
        <th class="one wide">通过率</th>
        <!-- <th class="one wide"><%- createSortableTitle('pass_rate', '通过率', false) %></th> -->
      </tr>
    </thead>
    <tbody>
    <% for (let problem of problems) { %>
        <% if (problem.is_public || problem.allowedEdit) { %>
        <tr style="height: 44px; ">
            <% if (user) { %>
                <td>
                <% if (problem.judge_state) { %>
                  <a href="<%= syzoj.utils.makeUrl(['submission', problem.judge_state.id]) %>">
                    <span class="status <%= problem.judge_state.status.toLowerCase().split(' ').join('_') %>">
                      <i class="<%= icon[problem.judge_state.status] || 'remove' %> icon"></i>
                    </span>
                  </a>
                <% } %>
                </td>
            <% } %>
            <td><b><%= problem.id %></b></td>
            <td class="left aligned">
              <a style="vertical-align: middle; " href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>" target="_blank"><%= problem.title %>
                <% if (!problem.is_public) { %><span class="ui header"><span class="ui tiny red label">未公开</span></span><% } %>
              </a>
              <div class="show_tag_controled" style="float: right; ">
                <%
                if (problem.tags) {
                  for (let i = problem.tags.length - 1; i >= 0; --i) {
                    let tag = problem.tags[i];
                    let tagListToggledThisTag;
                    if (!tagIDs.includes(tag.id)) tagListToggledThisTag = tagIDs.concat([tag.id]);
                    else tagListToggledThisTag = tagIDs.filter(x => x != tag.id);
                    tagListToggledThisTag = tagListToggledThisTag.sort().join(',');

                    let url = tagListToggledThisTag ? syzoj.utils.makeUrl(['problems', 'tag', tagListToggledThisTag]) : syzoj.utils.makeUrl(['problems']);
                  %>
                  <span class="ui header<% if (syzoj.config.hidden_problem_tag_colors.includes(tag.color)) { %> tag_hidden<% } %>">
                    <a href="<%= url %>" class="ui tiny <%= tag.color %> label">
                      <%= tag.name %>
                    </a>
                  </span>
                  <%
                  }
                }
                %>
              </div>
            </td>
            <td><%= problem.ac_num %></td>
            <td><%= problem.submit_num %></td>
            <td><%= problem.submit_num != 0 ? (((problem.ac_num / problem.submit_num * 100) || 0).toFixed(2) + '%') : '-' %></td>
            <!-- <td><%= problem.pass_rate %></td> -->
        </tr>
        <% } %>
    <% } %>
    </tbody>
  </table>
  </div>
  
  <br>
  
  <% include page  %>
  <% } else { %>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <% if (typeof req.query.keyword !== 'undefined') { %>
      <i class="search icon" style="margin-bottom: 20px; "></i>
      找不到符合条件的题目
      <% } else { %>
      <i class="list icon" style="margin-bottom: 20px; "></i>
      暂无题目
      <% } %>
    </div>
  </div>
  <% } %>
<script>
document.addEventListener('keydown', function (event) {
  if (event.keyCode === 39) document.getElementById('page_next').click();
  else if (event.keyCode === 37) document.getElementById('page_prev').click();
});

$(function () {
    <% if (showTagFilter) { %>
    var filterTags = <%- JSON.stringify(tagIDs) %>;
    var allTags = null;
    var $tag_search = $('#tag_search_dropdown');
    $tag_search.dropdown({
    fullTextSearch: true,
    onShow: function() {
      if (!allTags) {
        $.get('/problems/tags', function(data) {
          var $menu = $tag_search.find('.menu.scrolling');
          allTags = data.tags;
          allTags.forEach(function(tag) {
            tag.filtered = filterTags.includes(tag.id);
          });
          allTags.sort(function(a, b) {
            if (a.filtered && !b.filtered) return -1;
            if (b.filtered && !a.filtered) return 1;
            let x = data.order.indexOf(a.color);
            let y = data.order.indexOf(b.color);
            if (y === -1 && x !== -1) return -1;
            if (x === -1 && y !== -1) return 1;
            if (x < y) return -1;
            if (x > y) return 1;
            if (a.name < b.name) return -1;
            if (a.name > b.name) return 1;
            return 0;
          });
          $menu.html('');
          allTags.forEach(function(tag) {
            var $item = $('<div class="item">');
            if (tag.filtered) $item.addClass('active');
            $item.attr('data-value', tag.id);
            var $label = $('<div class="ui empty circular label">');
            $label.addClass(tag.color);
            $item.append($label);
            $item.append($('<span>').text(' ' + tag.name));
            $menu.append($item);
          });
          $tag_search.removeClass('loading disabled');
          $tag_search.dropdown('show');
        });
        $tag_search.addClass('loading disabled');
        return false;
      }
      return true;
    },
    action: function(name, value) {
      let newFilter;
      let tagID = parseInt(value);
      if (event.shiftKey) {
        newFilter = [tagID];
        if (filterTags.length === 1 && filterTags[0] === tagID) {
          newFilter = [];
        } else {
          newFilter = [tagID];
        }
      } else {
        if (filterTags.includes(tagID)) {
          newFilter = filterTags.filter(id => id !== tagID);
        } else {
          newFilter = filterTags.concat(tagID);
        }
      }
      if (newFilter.length) {
        location.href = '/problems/tag/' + newFilter.join(',');
      } else {
        location.href = '/problems';
      }
    }
  });
    <% } %>
  $('#add_problem_dropdown').dropdown();
});
</script>
<script>
$(function () {
  $('.ui.search').search({
    debug: true,
    apiSettings: {
      url: '/api/v2/search/problems/{query}',
      cache: false
    },
    fields: {
      title: 'name'
    }
  });
});
</script>
</div>
<% include footer %>
